@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 9550502426<br />
    <abbr title="Phone">P:</abbr>
    9949488233
</address>

<address>
    <strong>Support:</strong> <a href="mailto:vikram@monocept.com">vikram@monocept.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:vikram@monocept.com">vikram@monocept.com</a>
    <strong>IT:</strong> <a href="mailto:vikram@monocept.com">vikram@monocept.com</a>
</address>
